#Skills {
  .section-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .section-presentation {
      background-color: #374152;
      padding: 7px 20px;
      border-radius: 20px;

      .section-text {
        font-size: 14px;
        font-weight: 600;
      }
    }

    .section-description {
      font-size: 20px;
      font-weight: 500;
      margin: 15px 0px;
    }

    .skills-section {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 25px;
      margin: 10px 0px;
    
      .flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
      }
      
      img {
        transition: transform 0.3s;
      }
      
      img:hover {
        transform: scale(1.1);
      }

      p {
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
}

@media screen and (width <= 768px) {
  #Skills {
    .section-content {
      .skills-section {
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        margin: 10px 0px;

        div:nth-last-child(1) {
          grid-column: span 3; justify-self: center;
        }
      }
    }
  }  
}